* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7b77c7;
}

.logo {
    width: 100px;
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    
}

nav li {
    margin: 0 15px;
    background-color: #4d30c0;
    padding: 5px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #88f5ff;
    animation: fade-in 5s ease-in-out;
}

.sign-in {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    align-items: right 20px;
    
}
.sign-in:hover {
    background-color: #4d30c0;
    color:skyblue;
    border: 1px solid #fcfcfc;
}
main {
    
    text-align: center;
    padding: 100px 20px;
    color: #b2fff5;
    line-height: 2rem;

}
section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED6663;
}
#About{
   
    color: #ff8e2b;
    padding: 50px;
}
#Contact{
    height: 700px;;
    background-color: #dc9bed;
    color: #920864;
    padding: 50px;
 
}
#Features{
    height: 700px;
    background-color: #88f5ff;
    padding: 50px;
    color: #00736c;
 
}
#Courses{
    height: 700px;
    background-color: #fff788;
    color:  #920000;
    padding: 50px;
}

p {
    font-size: 20px;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.free-trial, .see-more {
    padding: 10px 20px;
    margin: 15px 10px;
    border: none;
    cursor: pointer;
}

.free-trial {
    background-color: #007BFF;
    color: white;
}

.see-more {
    background-color: #3c3c3c;
    color: white;
}

footer {
    position: relative;
}

.waves {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right, #c2ff35, #ff00bf);
    filter: blur(50px);
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
    color: #bfff00; /* Accent color */
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #bfff00;; /* Hover color */
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
